#game-head
{
    text-align: center;
    padding: 10px;
}

.dice-img
{
    
    height: 250px;
    display: block;
    margin: 0px auto;
    padding: 10px;
    box-shadow: 1px 3px 5px 3px black;
}

.roll-btn
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn
{
    font-size: 25px;
    padding: 4px;
    width: 100px;
    border-radius: 5px;
}
.btn:hover
{
    background-color: cadetblue;
    cursor: pointer;
}
